#btn_play{
	width: 300px;
	height: 100px;
	background-color: #4CC747;
	color:#000000;
	margin:10px;
	border-radius: 25px;
	border: none;
	font-weight: bold;
	font-size: 50px;
	font-family: Verdana;
	margin-left: 430px;
}
#btn_play:hover{
	background-color: #288E25;
}
#videoAbs
{
	position: absolute;
	width:1200px;
	height: 620px;
	z-index:3;
	margin:0px;
}
#video
{
	width: 800px;
	height: 520px;
	margin-top: -25px;
}

#izq
{
    padding-left:20px;
	height: 100%;
	width:400px;
	float:left;
	z-index:2;
    text-align: center;
    padding-top:200px;
}
#der
{
	height: 100%;
	width:400px;
	float:left;
	z-index:2;
	opacity: 1;
	text-align: center;
    padding-top:200px;
}
#cent
{
	height: 100%;
	width:400px;
	float:left;
	z-index: -10;
	padding-top:10%;
}
#cont
{
	width:1350px;
	height: 668px;
	background-color: black;
	opacity:0.95;
	margin:0px;
}
#div_pregunta{
	margin-top:40%;
	margin-left:10px;
	margin-right: 10px;
	background-color: white;
	opacity: 0.9;
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	padding:10px;
	border-radius:30px;
}
img
{
    border-radius:20px;
	width:0px;
	height: 0px;
	top: 15%;
	transform: translateY(-50%);
	opacity: 1;
}
.img_grande
{
    border-radius:100%;
	width:300px;
	height: 200px;
	top: 15%;
	margin:4px;

}
button{
	margin-top:50%;
	margin-left:40%;
}
label
{
    color:White;
    font-family: Verdana;
    font-weight: bold;
}
img:hover
{
    padding:4px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 136, 0.68);
    -moz-box-shadow:    0px 0px 30px 0px rgba(255, 255, 136, 0.68);
    box-shadow:         0px 0px 30px 0px rgba(255, 255, 136, 0.68);
}
